@mixin bg-img($path, $size: cover, $pos: center center, $repeat: no-repeat) {
    background-image: url($path);
    background-size: $size;
    background-position: $pos;
    background-repeat: $repeat;
  }